---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ryanPortrait from "./src/assets/ryan-portrait.jpg";
import Audio from "../components/Audio.astro";
---

<Layout>
  <section
    class="py-20 px-6 text-white bg-gradient-to-b from-violet-950 to-zinc-950"
  >
    <div class="max-w-xl m-auto">
      <div class="flex flex-col items-center justify-center gap-4 text-center">
        <Image
          class="w-48 h-48 rounded-full object-cover"
          src={ryanPortrait}
          alt="Ryan Portrait"
        />
        <div class="flex flex-col items-center justify-center gap-4">
          <h1 class="text-4xl">Ryan Ferraro</h1>
          <div class="text-md font-mono text-zinc-400">
            Voice Actor / Streamer
          </div>
          <div class="flex gap-2">
            <a
              href="/"
              class="p-2 border border-zinc-700 text-zinc-300 rounded-full hover:bg-white hover:border-white hover:text-violet-950 transition"
            >
              <Icon class="w-6 h-6" name="mdi:youtube" />
            </a>
            <a
              href="/"
              class="p-2 border border-zinc-700 text-zinc-300 rounded-full hover:bg-white hover:border-white hover:text-violet-950 transition"
            >
              <Icon class="w-6 h-6" name="mdi:twitch" />
            </a>
            <a
              href="/"
              class="p-2 border border-zinc-700 text-zinc-300 rounded-full hover:bg-white hover:border-white hover:text-violet-950 transition"
            >
              <Icon class="w-6 h-6" name="mdi:linkedin" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-2 px-6">
    <div class="max-w-xl m-auto flex flex-col gap-4">
      <h2 class="text-lg text-center text-zinc-300">
        Listen to some snippets below
      </h2>
      <Audio />
      <Audio />
      <Audio />
      <Audio />
    </div>
  </section>
  <section class="py-16 px-6">
    <div class="max-w-xl m-auto flex flex-col gap-4">
      <h2 class="text-2xl text-center">
        Ryan is a Long Island based voice actor whose voice over capabilities
        have no limit.
      </h2>
      <p class="text-base text-center text-zinc-400">
        From singing multiple genres such as rock, alternative, pop and
        cappella—to narrating commercials and videos. Ryan has a voice that
        adapts to whatever is needed. Excited, informative, compassionate,
        relatable…let Ryan add the emotion behind the words needed to represent
        your company or character!
      </p>
    </div>
  </section>
  <footer class="p-6 text-zinc-500 border-t border-zinc-800">
    <div class="max-w-xl m-auto text-center text-sm">
      © Copyright <span id="copyright-date"></span> Ryan Ferraro
    </div>
  </footer>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const copyright = document.querySelector("#copyright-date");
    if (copyright) {
      copyright.textContent = new Date().getFullYear().toString();
    }
  });
</script>
