---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-20 px-6 text-white">
    <div class="max-w-screen-lg m-auto border">
      <div class="flex flex-col items-center justify-center gap-4">
        <img class="w-32 h-32 bg-zinc-800 rounded-full" src="" alt="" />
        <div class="flex flex-col items-center justify-center gap-2">
          <h1 class="text-3xl">Ryan Ferraro</h1>
          <div class="text-md">Voice Actor / Streamer</div>
        </div>
      </div>
    </div>
  </section>
</Layout>
