<div class="p-4 border border-zinc-800 bg-zinc-900 rounded-lg">
  <figure>
    <figcaption class="text-lg pb-2">Coleman Campsite</figcaption>
    <audio class="w-full" controls src="/media/cc0-audio/t-rex-roar.mp3"
    ></audio>
  </figure>
</div>
