<div class="p-4 border border-zinc-800 bg-zinc-900 rounded-lg">
  <figure>
    <figcaption class="text-lg pb-2">Coleman Campsite</figcaption>
    <audio id="player" class="w-full" controls src="./audio/rf-demo1.mp3"
    ></audio>
  </figure>
</div>
<script>
  import Plyr from "plyr";
  import "plyr/dist/plyr.css";

  const player = new Plyr("#player");
</script>
