---
import "@fontsource-variable/space-grotesk";
import "@fontsource/space-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ryan Ferraro</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-zinc-950;
  }
</style>
